# Dependencies
node_modules/

# Frontend Build
dist/
frontend/dist/

# Python
__pycache__/
*.py[cod]
backend/irregular_metrics_backend.egg-info

# Database
*.db
backend/metrics.db

# Environment and logs
.env
.DS_Store
logs/
*.log
