repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version match installed version 0.14.7
    rev: v0.14.7
    hooks:
      - id: ruff
        args: [ --fix ]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    # Mypy version match installed version 1.19.0
    rev: v1.19.0
    hooks:
      - id: mypy
        files: ^backend/
        # List dependencies that mypy needs to know about for types
        additional_dependencies: [fastapi, sqlmodel, uvicorn]

  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: frontend-type-check
        name: Frontend Type Check
        entry: bash -c 'cd frontend && npm run typecheck'
        language: system
        files: ^frontend/
        types_or: [ts, tsx]
        pass_filenames: false
