@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased selection:bg-blue-100 selection:text-blue-900;
    background-image: radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
    background-color: #f8fafc;
    background-image: radial-gradient(at 80% 0%, hsla(189,100%,96%,1) 0px, transparent 50%),
                      radial-gradient(at 0% 50%, hsla(341,100%,96%,1) 0px, transparent 50%),
                      radial-gradient(at 80% 50%, hsla(340,100%,96%,1) 0px, transparent 50%),
                      radial-gradient(at 0% 100%, hsla(22,100%,96%,1) 0px, transparent 50%),
                      radial-gradient(at 80% 100%, hsla(242,100%,96%,1) 0px, transparent 50%),
                      radial-gradient(at 0% 0%, hsla(343,100%,96%,1) 0px, transparent 50%);
  }
}
